* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --bg-dark-mode: #121214;

    --bg-button: #E1E1E6;
    --bg-button-selected: #02799D;
    --bg-button-dark-mode: #29292E;
    --bg-button-dark-mode-selected: #0A3442;

    --fill-selected: #FFF;
    --fill-dark-mode: #C4C4CC;

    --fc-timer: #323238;
    --fc-timer-dark-mode: #FFF;

    --bg-range: #323238;
}

body {
    height: 100vh;

    display: grid;
    place-content: center;

    font-size: 1.6rem;
}

body.dark-mode {
    background-color: var(--bg-dark-mode);
}

.hide {
    display: none;
    opacity: 0;
    visibility: hidden;
}

button {
    cursor: pointer;

    transition: transform 400ms;
}

button:hover {
    transform: scale(1.1);
}

main {
    width: 82.1rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
    gap: 19.2rem;
}

.img-mode-wrapper {
    position: absolute;
    right: 6rem;
    top: 6rem;
}

.img-mode-wrapper button {
    background-color: transparent;
    border: none;
}

.control-wrapper {
    height: fit-content;

    display: grid;
    justify-items: center;

}

.timer-wrapper {
    display: flex;

    font-family: 'Roboto', sans-serif;
    font-size: 12.6rem;
    line-height: 14.8rem;
    color: var(--fc-timer);
}

.timer-wrapper.dark-mode {
    color: var(--fc-timer-dark-mode);
}

.buttons-wrapper {
    display: flex;
    gap: 4rem;
}

.buttons-wrapper button {
    background-color: transparent;
    border: none;
}

.buttons-wrapper.dark-mode button path {
    fill: var(--fill-dark-mode);
}

.status-wrapper form {
    display: grid;
    grid-template-areas: 
    'A B'
    'C D';
    gap: 3.2rem;
}

.status-wrapper button {
    width: 13.8rem;
    height: 15.2rem;

    display: grid;
    place-content: center;
    justify-items: center;
    gap: 3.2rem;

    background-color: var(--bg-button);
    border-radius: 2.4rem;
    border: none;
}

.status-wrapper.dark-mode button {
    background-color: var(--bg-button-dark-mode);
}

.status-wrapper.dark-mode button path {
    fill: var(--fill-selected);
}

.selected svg path {
    fill: var(--fill-selected);
}

button.selected {
    background-color: var(--bg-button-selected);
}

.dark-mode button.selected {
    background-color: var(--bg-button-dark-mode-selected);
}

.status-wrapper button .volume {
    width: 9rem;
    height: .4rem;

    background-color: var(--bg-range);
    border-radius: .5rem; 

    appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    width: 1.6rem;
    height: 1.6rem;
    
    background-color: var(--bg-range);
    border-radius: 99.9rem;

    appearance: none;
}

button.selected input[type="range"]::-webkit-slider-thumb,
button.selected .volume,
.dark-mode input[type="range"]::-webkit-slider-thumb,
.dark-mode button .volume {
    background-color: var(--fill-selected);
}